@media (max-width: 500px) {/*Mobile*/
    .navbar-header {
        width: 500px;/*Temporary size/Maybe not necessary since overflow-x fixes the issue*/
    }

    .navbar-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 90px;
    }

    .navbar-content-logo {
        display: block;
        font-size: 30px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .my-logo-home {
        padding: 14px 10px 13px 10px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        margin: 8px 20px 8px 20px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .dropdown-toggle {
        display: block;
        align-items: start;
        justify-content: end;
        padding: 25px 12px 20px 12px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        margin: 5px 5px 5px 5px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        background: none;
        border: 1px solid blue; /*Temporary visibility of the flex display*/
    }
    .dropdown-toggle:hover {
        cursor: pointer;
    }

    .hamburger-icon {
        width: 35px;
        height: 30px;
    }

    .dropdown-menu {
        display: none;
        padding: .75rem;
        margin: 0px -5px 0px 0px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        position: absolute;
        width: 500px;/*Temporary size/Maybe not necessary since overflow-x fixes the issue*/
        right: 0;
        top: calc(100% + .25rem);
        opacity: 0;
        background: #2e3c3f;
        /* border: 5px solid yellow;Temporary visibility of the flex display */
    }
    .dropdown-menu.open {
        display: block;
        opacity: 1;
    }

    .dropdown-menu li {
        display: block;
    }

    .my-about-skills, .my-projects, .my-contact {
        align-items: center;
        text-align: center;
        padding: 5px 5px 5px 5px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        margin: 5px 5px 5px 5px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .my-ld-button {
        align-items: center;
        text-align: center;
        padding: 5px 5px 5px 5px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        margin: 5px 5px 5px 5px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        font-size: 24px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .home-main-wrapper {
        flex-direction: column;
        align-items: center;
        width: 500px;/*Temporary size*/
        margin: 5px 0px 50px 0px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        background-color: #3E3E3E;/*Temporary visibility of the flex display-placeholder green/actual bg-color #3E3E3E*/
    }

    .home-content-image {
        margin: 0px 0px 0px 0px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .avatar-image {
        margin: 10px 50px 15px 50px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        width: 300px;/*Temporary size*/
        height: 300px;/*Temporary size*/
    }

    .home-title-wrapper {
        align-self: flex-start;
        margin: 0px 0px 0px -1px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        width: 500px;/*Temporary size*/
    }

    h1.home-section-title {
        margin: 5px 47px 0px 47px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        height: 170px;/*Temporary size*/
        font-size: 48px;/*Temporary size*/
    }

    .handwave-icon {
        width: 48px;
        height: 50.32px;
    }

    .rectangle-back-design {
        margin: 0px 0px -70px -20px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        width: 425px;/*Temporary size*/
        height: 85px;/*Temporary size*/
        border: 1px solid #000;
    }

    .rectangle-front-design {
        margin: 0px 0px -85px 0px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        width: 425px;/*Temporary size*/
        height: 85px;/*Temporary size*/
        border: 2px solid #17A2B8;
    }

    h2.home-subsection-description {
        margin: 10px 47px 0px 47px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .home-content-description {
        font-size: 26px;/*Temporary size*/
    }

    .github-icon {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 73.88px;/*Temporary size*/
        height: 68.69px;/*Temporary size*/
    }

    .home-content-button {
        margin: 15px 80px 10px 80px;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .resume-button {
        width: 240px;/*Temporary size*/
        height: 75px;/*Temporary size*/
        font-size: 22px;/*Temporary size*/
        border: 1px solid #fff;
        border-radius: 10px;/*Temporary size*/
    }
}